body {
  font-family: Arial;
  padding: 20px;
  background: #f9fafb;
}

h1 {
  text-align: center;
}

#chart-box {
  width: 400px;
  margin: 30px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

th {
  background: #059669;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f3f4f6;
}
